#recipes-form
  = form_for @recipe, html: {class: 'form-horizontal'} do |f|
    - if @recipe.errors.any?
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
    .form-group
      = f.label :name, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :ingredients, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.fields_for :ingredients do |ingredients_form|
          .row
            .col-sm-4
              = ingredients_form.text_field :quantity, class: 'form-control', placeholder: "Qunatity..."
            .col-sm-4
              = ingredients_form.text_field :name, class: 'form-control', placeholder: "Name..."
            .col-sm-4
              .checkbox
                %label
                  = ingredients_form.check_box :_destroy
                  Delete

    .form-group
      = f.label :description, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :description, class: 'form-control', rows: 5
    - 3.times do |index|
      .form-group{ id: "categories-group-#{ index.to_s }" }
        = f.label :categories, "Category #{ index + 1 }",
                  class: 'col-sm-2 control-label'
        = f.hidden_field :category_ids, multiple: true
        - if @recipe.categories[index].present?
          - category = @recipe.categories[index].parent_chain_with_siblings
          = render partial: 'categories/select',
                   locals: { parent_chain_with_siblings: category }
        - else
          = render partial: 'categories/select',
                   locals: { categories: @categories }
    .form-group
      = f.label :image, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.file_field :image, class: 'form-control'
    .form-group
      = f.button :submit, class: 'btn btn-primary' do
        %i.fa.fa-floppy-o
        Save
