.col-md-4.recipe-partial
  .panel.panel-default
    .panel-header
      = link_to recipe do
        = image_tag recipe.image.url(:thumb), class: 'img-responsive'
    .panel-body
      = link_to recipe do
        %h3= truncate(recipe.name, length: 23, separator: ' ')
      %p
        = truncate(recipe.description, length: 100, separator: ' ')
