!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Recipes
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to root_path, class: 'navbar-brand' do
            = image_tag image_path("logo.jpg")
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'Recipes', recipes_path
            %li= link_to 'Users', users_path
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'My profile', current_user
              %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
            - else
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path

    - if notice.present?
      %p.alert.alert-success= notice
    - if alert.present?
      %p.alert.alert-danger= alert
    = yield

  .footer
    .container
      .row
        .col-md-2.text-center
          = link_to root_path do
            = image_tag image_path("logo.jpg")
        .col-md-5
          %ul.nav.nav-pills.nav-stacked.text-center
            %li= link_to 'Recipes', recipes_path
            %li= link_to 'Users', users_path
        .col-md-5
          %ul.nav.nav-pills.nav-stacked.text-center
            - if user_signed_in?
              %li= link_to 'My profile', current_user
              %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
            - else
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
